style(type='text/css').
	body {
		width: 100% !important;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}
	.ReadMsgBody {width: 100%;}
	.ExternalClass,
	.ExternalClass p,
	.ExternalClass span,
	.ExternalClass font,
	.ExternalClass td
	{line-height: 100% !important;}
	.gmailfix {
		display:none;
		display:none!important;
	}
	table {
		border-collapse:collapse;
		mso-table-lspace:0;
		mso-table-rspace:0;
		padding:0;
	}
	table td {
		border-collapse: collapse !important;
		border-spacing: 0;
		border: 0 none;
		mso-table-lspace: 0pt;
		mso-table-rspace: 0pt;
	}
	p{margin:0 auto; text-align:center;}
	*{
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
		max-height:1000000px;
		mso-line-height-rule:exactly;
		line-height: 100%
	}
	img {
		display: block;
		border: 0 none !important;
		outline: none;
		text-decoration: none;
		line-height: 100%;
		-ms-interpolation-mode: bicubic;
	}
	*[class=appleLinks]{color:#000000!important;text-decoration:none!important;}
	.appleLinks{color:#000000!important;text-decoration:none!important;}

	*[class=rblock]{margin-top:10px!important;width:320px!important;}
	.rblock{margin-top:10px!important;width:320px!important;}

	@media yahoo {.yahootest{width:200px!important;border:1px solid red!important;display:block!important;}}

	@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
	/* latin */
	@font-face {
		font-family: 'Indie Flower';
		font-style: normal;
		font-weight: 400;
		src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v9/10JVD_humAd5zP2yrFqw6hampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
	}
	*[class=gmailfix]{display:none;display:none!important;}
	.gmailfix{display:none;display:none!important;}
	@media only screen and (max-width: 600px){
		/*CSS for Yahoo no spaces*/
		* {-webkit-text-size-adjust: none}
		p{color:red;}
		/*CSS for Yahoo no spaces*/
		*[class=contenttable]{width:320px!important;}
		.contenttable{width:320px!important;}

		*[class=mobile]{width:414px!important;height:auto!important;}
		.mobile{width:414px!important;height:auto!important;}


		*[class=hide]{display:none!important;}
		.hide{display:none!important;}

		*[class=showmobile]{display:block!important;margin:auto!important;width:100%!important;height:auto!important;max-height:inherit!important;overflow:visible!important;}
		.showmobile{display:block!important;margin:auto!important;width:100%!important;height:auto!important;max-height:inherit!important;overflow:visible!important;}

		.blocktable{width:100%!important;}
		*[class=blocktable]{width:100%!important;}

		*[class=block]{display:block!important;float:none}
		.block{display:block!important;float:none}

		*[class=rwd-padding]{width:15px!important;}
		.rwd-padding{width:15px!important;}
	}
