table(class='contenttable', width='600', border='0', cellspacing='0', cellpadding='0', align='center')
	tr
		td(valign='top', background='img/img1.jpg', bgcolor='#7bceeb', style='background-image:url(img/img1.jpg);background-position: center; background-size:100% 100%; background-repeat:no-repeat; background-size:cover;background-color:#7bceeb; width:650px; height:200px;')
			//if gte mso 9
				v:rect(xmlns:v='urn:schemas-microsoft-com:vml', fill='true', stroke='false', style='width:650px; height:200px;')
					v:fill(type='frame', src='img/img1.jpg', color='#7bceeb')
						v:textbox(inset='0px, 0px, 0px, 0px')
							div
			table(width='100%', border='0', cellpadding='0', cellspacing='0')
				tr
					td(valign='top', width='20%', height='200')
					td(valign='middle', align='center', width='60%')
						font(style='font-family:Arial, Helvetica, sans-serif; color:#ffffff; font-size:20px;')
							| Hola Mundo!
						br
						br
						font(style='font-family:Arial, Helvetica, sans-serif; color:#ffffff; font-size:12px;')
							| Lorem Ipsum is simply dummy text of the printing and typeset ting
							| industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
					td(valign='top', width='20%', height='200')
			//if gte mso 9
