table(class='contenttable', width='600', border='0', cellspacing='0', cellpadding='0', align='center')
	tbody
		tr
			td
				// ****************Starts Show/Hide Fix********************
				// [if !mso] <!
				div(class='showmobile', style='display:none; width:0; max-height:0; overflow:hidden;')
					table(class='showmobile ', width='320', border='0', cellspacing='0', cellpadding='0', align='center', style='margin: 0 auto; display: none; border: 0; max-height:0; overflow:hidden;')
						tbody
							tr
								td
									+emailImage('img2','jpg', 'alt de la imagen', 'title Image','no-class', '100%', 'auto')
				// <![endif]
				// ****************Ends Show/Hide Fix********************
