// Start table
table(class='contenttable', width='600', border='0', cellpadding='0', cellspacing='0', align='center')
	tr
		td(width='30', class='rwd-padding')
			+imgSpacer('30', '30', 'rwd-padding')
		td
			// Start table
			table(width='100%', border='0', cellpadding='0', cellspacing='0', align='center')
				tr
					td
						+linkImage('#', 'img3','jpg', 'alt image', 'title image', 'class', '100%', 'heigth')
			// Ends table

		td(width='30', class='rwd-padding')
			+imgSpacer('30', '30', 'rwd-padding')
// Ends table
