	body {
		margin: 0;
		padding: 0;
	}
	
	.topNavContainer {
		height: 107px;
		width: 100%;
		background-color: #ffd105;	
	}
	
	.topNav {
		height: 107px;
		width: 100%;
		margin-left: left;
		margin-right: auto;	
	}
	
	.languageBar {
		width: 100%;
		height: 25px;
	}
	
	.languageBar a {
		font-size: 14px;
		color: #000000;
		text-decoration: none;
		font-family: MavenProBlack, sans-serif;
		width: 110px;
		white-space: nowrap;
		float: right;
		margin-top: 6px;
	}
	
	.gt-logo {
		width: 300px;
		height: 91px;
		margin-left: 28px;
		float: left;
	}
	
	ul.topNavLinks {
		list-style-type: none;
		margin-left: 15px;	
		float: left;
	}
	
	ul.topNavLinks li {
		margin-bottom: 5px;	
	}
	
	ul.topNavLinks li a {
		color: #000000;
		text-decoration: none;
		font-family: MavenProBlack, sans-serif;
		font-size: 13px;
	}
	
	.mainNavContainer {
		background-color: #000000;
		height: 38px;
		border-top: 3px solid #ec2028;
		width: 100%;
	}
	
	.mainNav {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		height: 38px;
	}
	
	.mainNav ul {
		float: right;
		list-style-type: none;
		margin-top: 10px;
	}
	
	.mainNav ul li {
		display: inline-block;
		margin: 0 5px 0 5px;	
	}
	
	.mainNav ul li a {
		font-family: MavenProBlack, sans-serif;
		font-size: 14px;
		color: #000;
		text-decoration: none;
	}